*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #f5f5f5;
    background: linear-gradient(to left, #98c2f1, #f7fbff);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
    width: 800px;
    max-width: 100%;
    min-height: 450px;
    background-color: #feffff;
    border-radius: 25px;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.6);
    overflow: hidden;
}
.container p{
    font-size: 15px;
    color: #333;
    line-height: 17px;
    margin: 15px 0;
}
.container span{
    color: #333;
    font-size: 14px;
}
.container a{
    margin: 0 5px;
    color: #333;
    font-size: 14px;
    text-decoration: none;
}
.container  button{
    cursor: pointer;
    background-color:#90bcee;
    color: #feffff;
    font-size: 14px;
    border: 1px solid #90bcee;
    border-radius: 5px;
    padding: 8px 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 15px;
}
.container button.ghost{
    background-color: transparent;
    border: 1px solid #feffff;
}
.container form{
    background-color: #feffff;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.container input{
    outline: none;
    border: none;
    background-color: #e6f2ff;
    padding: 10px 15px;
    margin: 10px 0;
    font-size: 14px;
    border-radius: 10px;
    width: 100%;
}
.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.5s ease-in-out;
}
.sign-in-container{
    left: 0;
    width: 50%;
    z-index: 2;
}
.container.active .sign-in-container{
    transform: translateX(100%);
}
.sign-up-container{
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;    
}
.container.active .sign-up-container{
    transform: translateX(100%);
    opacity: 1;
    z-index: 7;
    animation: move 0.7s;
}

@keyframes move {
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social a{
    border: 1px solid #98c2f1;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    width: 30px;
    height: 30px;
}

.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    z-index: 100;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    border-radius: 100px 0 0 100px;
}

.container.active .overlay-container{
    transform: translateX(-100%);
    border-radius: 0px 100px 100px 0px;
}
.overlay{
    background-color: #98c2f1;
    height: 100%;
    background: linear-gradient(to left, #439aff, #96cbff);
    color: #feffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
}
.container.active .overlay{
    transform: translateX(50%);
}
.overlay-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
}

.overlay-left{
    transform: translateX(-100%);
}
.container.active .overlay-left{
    transform: translateX(0);
}
.overlay-right{
    transform: translateX(0);
    right: 0;
}
.container.active .overlay-right{
    transform: translateX(100%);
}
